UI/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50112/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50112/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50112/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
      <xsd:import schemaLocation="http://localhost:50112/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IService1_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DBState_InputMessage">
    <wsdl:part name="parameters" element="tns:DBState" />
  </wsdl:message>
  <wsdl:message name="IService1_DBState_OutputMessage">
    <wsdl:part name="parameters" element="tns:DBStateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCityList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCityList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCityList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCityListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCityDetailed_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCityDetailed" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCityDetailed_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCityDetailedResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IService1_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUpdateState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateState" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUpdateState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateStateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTask_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTask" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTaskState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskState" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTaskState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskStateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteTask_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTask" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTaskResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Ping" message="tns:IService1_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PingResponse" message="tns:IService1_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DBState">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DBState" message="tns:IService1_DBState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DBStateResponse" message="tns:IService1_DBState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCityList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCityList" message="tns:IService1_GetCityList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCityListResponse" message="tns:IService1_GetCityList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCityDetailed">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCityDetailed" message="tns:IService1_GetCityDetailed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCityDetailedResponse" message="tns:IService1_GetCityDetailed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Update" message="tns:IService1_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateResponse" message="tns:IService1_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateState">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUpdateState" message="tns:IService1_GetUpdateState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUpdateStateResponse" message="tns:IService1_GetUpdateState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetTask" message="tns:IService1_SetTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetTaskResponse" message="tns:IService1_SetTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskState">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTaskState" message="tns:IService1_GetTaskState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTaskStateResponse" message="tns:IService1_GetTaskState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteTask" message="tns:IService1_DeleteTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteTaskResponse" message="tns:IService1_DeleteTask_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IService1/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DBState">
      <soap:operation soapAction="http://tempuri.org/IService1/DBState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCityList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCityList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCityDetailed">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCityDetailed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IService1/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateState">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUpdateState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTask">
      <soap:operation soapAction="http://tempuri.org/IService1/SetTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskState">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTaskState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50112/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>